@keyframes zoomhelp {
    from {width: 2.25vw;}
    to {width: 2.5vw;}
}


#back img{
    width: 2.25vw;
    position: relative;
    left: 96vw;
    bottom: 21vw;
}
#back img:hover{
    animation-name: zoomhelp;
    animation-duration: 0.3s;
    width: 2.5vw;
}
#help img{
    width: 2.25vw;
    position: relative;
    left: 96vw;
    bottom: 21vw;
}
#help img:hover{
    animation-name: zoomhelp;
    animation-duration: 0.3s;
    width: 2.5vw;
}