html, body {
    margin: 0;
}

.headc {
    font-family: 'League Spartan Bold', arial, serif;
    text-align: center;
    text-shadow:  1px 1px 20px rgba(3, 3, 3, 0.71);
    font-size: 1.1rem;
}
#head{

}
.flexBoxInfos {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-align: center;
    justify-content: space-around;
}
.flexBoxSafe{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-align: center;
}
.flexBoxData{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-align: center;
}
.flexBoxData{
    padding: 10px;
    flex: 50%;
}
.flexBoxData div{
    padding: 10px;
    flex: 50%;
}
.flexBoxSafe div{
    padding: 10px;
    flex: 50%;
}
.flexBoxInfos div{
    padding: 10px;
    flex: 25%;
    align-items:center;
}


.kachelc {
    background: linear-gradient(270deg, #36d0a8, #25d0c2, #25bfd0, #25a1d0, #258bd0, #25b0d0, #25d0ca);
    background-size: 1400% 1400%;
    -webkit-animation: colorAnim 30s ease infinite;
    -moz-animation: colorAnim 30s ease infinite;
    animation: colorAnim 30s ease infinite;
    height: 95%;
    width: 80%;
    margin-left: 8%;
    padding: 0.5vw;
    border-radius: 10px;
    box-shadow: 0px 0px 3rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
}
.placeholder{
    padding: 1vw;
    display: block;
}
.kachelc:hover {
    /*
     animation: overShadow 1s ease;
    box-shadow: 0px 0px 3rem 2rem rgba(0, 0, 0, 0.2);
     */
}


.tileheadc {
    font-family: 'League Spartan Bold', arial, serif;
    font-size: 0.9rem;
    display: inline-block;
}

.tilecontent {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

#typehead {
    font-family: 'League Spartan Bold', arial, serif;
    padding-left: 0.5vw;
    font-size: 1.5rem;
}
.nav{
    text-align: right;


}
.icon{
    color: black;
    padding: 1vw;
    padding-right: 1.5vw;
    padding-left: 2vw;
    background: linear-gradient(270deg, #36d0a8, #25d0c2, #25bfd0, #25a1d0, #258bd0, #25b0d0, #25d0ca);
    background-size: 1400% 1400%;
    -webkit-animation: colorAnim 30s ease infinite;
    -moz-animation: colorAnim 30s ease infinite;
    animation: colorAnim 30s ease infinite;
    position: absolute;
    right: 0;
    top: 2vw;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.icon:hover{
    color: white;
}
@media screen and (max-width: 800px) {
    .flexBoxInfos {
        flex-direction: column;
    }
    .flexBoxSafe {
        flex-direction: column;
    }
    .flexBoxData {
        flex-direction: column;
    }
    .placeholder{
        display: none;
    }
}





@-webkit-keyframes colorAnimation {
    0% {
        background-position: 0% 5%
    }
    50% {
        background-position: 100% 96%
    }
    100% {
        background-position: 0% 5%
    }
}

@-moz-keyframes colorAnimation {
    0% {
        background-position: 0% 5%
    }
    50% {
        background-position: 100% 96%
    }
    100% {
        background-position: 0% 5%
    }
}

@keyframes colorAnimation {
    0% {
        background-position: 0% 5%
    }
    50% {
        background-position: 100% 96%
    }
    100% {
        background-position: 0% 5%
    }
}

@-webkit-keyframes colorAnim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes colorAnim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes colorAnim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes overShadow {
    from {
        box-shadow: 0px 0px 3rem 1rem rgba(0, 0, 0, 0.2);
    }
    to {
        box-shadow: 0px 0px 3rem 2rem rgba(0, 0, 0, 0.2);
    }
}